<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="description"
			content="Zeerum is a community where you can share your ideas, experiences with the community."
		/>
		<meta name="keywords" content="Articles, Knowledge, Information, Blog" />
		<meta name="author" content="Sandakan Nipunajith" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="csrf-token" content="<%= csrfToken %>" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>About Us - ZEERUM</title>
		<link rel="icon" href="/images/icon.webp" type="image/webp" />
		<link rel="stylesheet" href="/styles/main.css" />
		<link rel="stylesheet" href="/styles/about.css" />
		<link rel="stylesheet" href="/styles/animations.css" />
		<script src="https://kit.fontawesome.com/080e99810e.js" crossorigin="anonymous"></script>
	</head>

	<body class="<%= theme %>">
		<nav class="nav-bar">
			<a href="/" class="label-container">
				<div class="label">zeerum</div>
			</a>
			<div class="link-list">
				<ul>
					<li><a class="home" href="/">Home</a></li>
					<li><a class="discover" href="/discover">Discover</a></li>
					<li><a class="write" href="/write">Write</a></li>
					<li id="get-started">
						<a class="get-started" name="get-started" href="/signup">Get started</a>
					</li>
					<li id="user-profile" class="user-profile"></li>
				</ul>
			</div>
			<div class="user-profile-dropdown" id="user-profile-dropdown"></div>
		</nav>

		<div class="about-us-container">
			<div class="banner-container" id="banner">
				<div class="banner">
					<div class="banner-img"></div>
					<div class="banner-elements-container">
						<div class="banner-text">
							<span>Hey, We are <br /><span class="label-in-banner">ZEERUM.</span></span>
						</div>
					</div>
				</div>
			</div>

			<div class="belief-container">
				<div class="background"></div>
				<div class="belief">
					<span>
						In <span class="label-in-banner">ZEERUM</span>, <br />
						we believe that everyone deserves knowledge for the wellbeing of humanity.
					</span>
					<div class="belief-img">
						<img src="images/about/learning.svg" alt="" />
					</div>
				</div>
			</div>

			<div class="reasons-container">
				<div class="background"></div>
				<div class="reason">
					<span>
						So we created <span class="label-in-banner">ZEERUM</span> to share the knowledge
						with everyone including you.
					</span>
					<div class="reason-img">
						<img src="images/about/create.svg" alt="" />
					</div>
				</div>
			</div>

			<div class="animation-container">
				<div class="animation-text">
					" A friend, a partner who gives you knowledge worth throughout your life. "
				</div>
			</div>

			<div class="testimonial-container">
				<div class="testimonial-heading">What does our users say</div>

				<div class="users-container">
					<img
						src="/images/avatars/4.webp"
						class="user-1-img active"
						alt="users"
						data-user-id="0"
					/>
					<img src="/images/avatars/5.webp" class="user-2-img" alt="users" data-user-id="1" />
					<img src="/images/avatars/10.webp" class="user-3-img" alt="users" data-user-id="2" />
					<img src="/images/avatars/12.webp" class="user-4-img" alt="users" data-user-id="3" />
				</div>
				<div class="user-comment-container">
					Expedita deleniti fugiat rerum animi illum placeat. Officiis debitis itaque voluptas
					harum est ratione excepturi. Tenetur reprehenderit reiciendis fuga ratione
					cupiditate.
					<div class="comment-user-name">Roberta Koepp</div>
				</div>
			</div>
			<!-- todo  -->
			<div class="join-with-us-container">
				<div class="description">So join with us to our effort to achieve this noble goal.</div>
			</div>

			<div class="about-us"></div>
		</div>

		<div class="alert-container">
			<div class="message-container"></div>
			<div class="buttons-container">
				<i class="fas fa-times close-btn"></i>
			</div>
		</div>

		<!-- ? Below goes the footer -->

		<div class="footer">
			<div class="footer-label-and-move-to-top-container">
				<a href="/" class="label-container">
					<div class="label">zeerum</div>
				</a>
				<a href="#" class="move-to-top">Move to top</a>
			</div>

			<div class="footer-content">
				<div class="description">
					We are a community that shares ideas of beautiful minds. First started as a
					tech-article website, now it grows as one of the most visited websites for ideas and
					information to keep up with the world and to widen the horizon of creativity.
					<br /><br />
					<span class="made-with-love"
						>Made with <span class="heart">❤</span> by Sandakan as a simple ICT project.</span
					>
				</div>
				<div class="newsletter-description">
					<ul>
						<li>Our daily uploaded articles are now at your fingertips.</li>
						<li>They are personalized to your reading too.</li>
						<li>
							We'll send an email containing popular, trending, and personalized articles
							from the authors right to your inbox.
						</li>
					</ul>
				</div>
				<div class="main-links">
					<ul>
						<li><a href="/">Home</a></li>
						<li><a href="/discover">Discover</a></li>
						<li><a href="/write">Write</a></li>
						<li><a href="/about">About</a></li>
						<li><a href="/signup">Sign up</a></li>
						<li><a href="/login">Log in</a></li>
					</ul>
				</div>
			</div>
			<div class="copyright">&copy; 2021 Zeerum. All right reserved.</div>
		</div>

		<script src="/scripts/scroll-out.js"></script>
		<script src="/scripts/scrollTop.js"></script>
		<script type="module" src="/scripts/account.js"></script>
		<script src="/scripts/about.js"></script>
		<script>
			ScrollOut({
				targets: ['.mission-container', '.join-with-us-container'],
			});
		</script>
	</body>
</html>
