<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="description"
			content="Zeerum is a community where you can share your ideas, experiences with the community."
		/>
		<meta name="keywords" content="Articles, Knowledge, Information, Blog" />
		<meta name="author" content="Sandakan Nipunajith" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="csrf-token" content="<%= csrfToken %>" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>ZEERUM</title>
		<link rel="icon" href="/images/icon.png" type="image/png" />
		<link rel="stylesheet" href="/styles/main.css" />
		<link rel="stylesheet" href="/styles/article.css" />
		<link rel="stylesheet" href="/styles/animations.css" />
		<script src="https://kit.fontawesome.com/080e99810e.js" crossorigin="anonymous"></script>
	</head>

	<body>
		<nav class="nav-bar">
			<a href="/" class="label-container">
				<div class="label">zeerum</div>
			</a>
			<div class="link-list">
				<ul>
					<li><a class="home" href="/">Home</a></li>
					<li><a class="discover" href="/discover">Discover</a></li>
					<li><a class="write" href="/write">Write</a></li>
					<li id="get-started">
						<a class="get-started" name="get-started" href="/signup">Get started</a>
					</li>
					<li id="user-profile" class="user-profile"></li>
				</ul>
			</div>
			<div class="user-profile-dropdown" id="user-profile-dropdown"></div>
		</nav>

		<div class="popup-container" id="popup-container">
			<div class="popup" id="popup"></div>
		</div>

		<!-- ? Information related to the article goes here  -->
		<!-- ? article-loading -->
		<article class="article-elements-container">
			<div class="article-data-container">
				<div class="article-img-and-heading-container">
					<div class="article-img-container"></div>
					<div class="article-heading-and-stats-container">
						<span class="article-heading"></span>
						<div class="article-stats"></div>
					</div>
				</div>
				<div class="article-data"></div>
			</div>

			<!-- ? Here goes the information related to the author, comments for the article etc. -->
			<div class="author-information-container">
				<div class="author">
					<div class="author-data-container"></div>
					<hr />
					<div class="reaction-buttons-container">
						<div class="like">
							<i class="fas fa-heart"></i><span id="liked-number">0</span>
						</div>
						<div class="share">
							<i class="fas fa-share-alt"></i><span id="shared-number">0</span>
						</div>
						<div class="bookmark">
							<i class="fas fa-bookmark"></i><span id="bookmarked-number">0</span>
						</div>
					</div>

					<hr />
				</div>
				<div class="comments-section">
					<div class="comment-input-container">
						<input
							type="text"
							name="comment-input-container"
							id="comment-input-container"
							class="comment-input-container"
							placeholder="Add a comment"
							value=""
						/>
						<div class="comment-send-btn">
							<i class="fa fa-chevron-circle-right" aria-hidden="true"></i>
						</div>
					</div>
					<div class="comments" id="comments">
						<span class="no-comments">No comments to display.</span>
					</div>
				</div>
			</div>
		</article>

		<div class="get-started-container">
			<a href="/login" class="log-in-btn">Log In</a>
			<span class="or">OR</span>
			<a href="/signup" class="signup-btn">Sign up</a>
			<span class="heading">
				Receive articles right to your email when they are in the air.
			</span>
			<span class="zeerum-user">
				zeerum <br />
				user <br />
				<i class="fas fa-medal"></i>
			</span>
			<span class="description">
				<ul>
					<li>Our daily uploaded articles are now at your fingertips.</li>
					<li>They are personalized to your reading too.</li>
					<li>
						We'll send an email containing popular, trending and personalized articles from
						the authors right to your inbox.
					</li>
				</ul>
			</span>
			<span class="exit">
				<i
					class="far fa-times-circle"
					onclick="document.querySelector('.get-started-container').style.display = 'none';"
				></i>
			</span>
		</div>

		<!-- ? Below goes the footer -->

		<div class="footer">
			<div class="footer-label-and-move-to-top-container">
				<a href="/" class="label-container">
					<div class="label">zeerum</div>
				</a>
				<a href="#" class="move-to-top">Move to top</a>
			</div>

			<div class="footer-content">
				<div class="description">
					We are a community that shares ideas of beautiful minds. First started as a
					tech-article website, now it grows as one of the most visited websites for ideas and
					information to keep up with the world and to widen the horizon of creativity.
					<br /><br />
					<span class="made-with-love"
						>Made with <span class="heart">❤</span> by Sandakan as a simple ICT project.</span
					>
				</div>
				<div class="newsletter-description">
					<ul>
						<li>Our daily uploaded articles are now at your fingertips.</li>
						<li>They are personalized to your reading too.</li>
						<li>
							We'll send an email containing popular, trending, and personalized articles
							from the authors right to your inbox.
						</li>
					</ul>
				</div>
				<div class="main-links">
					<ul>
						<li><a href="/">Home</a></li>
						<li><a href="/discover">Discover</a></li>
						<li><a href="/write">Write</a></li>
						<li><a href="/about">About</a></li>
						<li><a href="/signup">Sign up</a></li>
						<li><a href="/login">Log in</a></li>
					</ul>
				</div>
			</div>
			<div class="copyright">&copy; 2021 Zeerum. All right reserved.</div>
		</div>

		<script src="/scripts/scrollTop.js"></script>
		<script type="module" src="/scripts/article.js"></script>
		<script type="module" src="/scripts/profile.js"></script>
	</body>
</html>
