<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="description"
			content="Zeerum is a community where you can share your ideas, experiences with the community."
		/>
		<meta name="keywords" content="Articles, Knowledge, Information, Blog" />
		<meta name="author" content="Sandakan Nipunajith" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="csrf-token" content="<%= csrfToken %>" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Sign up to Zeerum</title>
		<link rel="icon" href="/images/icon.png" type="image/png" />
		<link rel="stylesheet" href="/styles/main.css" />
		<link rel="stylesheet" href="/styles/sign-up.css" />
		<link rel="stylesheet" href="/styles/animations.css" />
		<script src="https://kit.fontawesome.com/080e99810e.js" crossorigin="anonymous"></script>
	</head>
	<body>
		<div class="nav-bar">
			<a href="/" class="label-container"><div class="label">zeerum</div></a>
			<div class="link-list">
				<ul>
					<li><a href="/">Home</a></li>
					<li><a href="/discover">Discover</a></li>
					<li><a href="/write">Write</a></li>
					<li><a href="/about">About</a></li>
				</ul>
			</div>
		</div>

		<div class="signup-container">
			<div class="signup-description">
				<img src="images/sign_up/sign-up.png" alt="" />
				<div class="description">
					Sign up with us to receive articles around the world to your inbox. Engage with the
					ZEERUM community to help each other and to share knowledge.
				</div>
			</div>
			<form action="/signup" class="form" id="form" method="POST" target="_self" name="signup">
				<input type="hidden" name="_csrf" value="<%= csrfToken %>" />
				<div class="signup-heading">Join with Us</div>
				<div class="name-container">
					<div class="first-name-container">
						<input
							type="text"
							name="firstName"
							id="first-name"
							placeholder="First name"
							required
							aria-label="Enter your first name"
							autofocus
						/>
						<div class="data-error-container">
							<i class="fas fa-exclamation-circle"></i>
							<span class="data-error"></span>
						</div>
					</div>
					<div class="last-name-container">
						<input
							type="text"
							name="lastName"
							id="last-name"
							placeholder="Last name"
							required
							aria-label="Enter your last name"
						/>
						<div class="data-error-container">
							<i class="fas fa-exclamation-circle"></i>
							<span class="data-error"></span>
						</div>
					</div>
				</div>
				<div class="birthday-container">
					<input
						type="text"
						name="birthday"
						id="birthday"
						onfocusin="(this.type='date')"
						onfocusout="(this.type='text')"
						placeholder="Birthday (MM/DD/YYYY)"
						required
						aria-label="Enter your birthday"
					/>
				</div>
				<div class="email-container">
					<input
						type="email"
						name="email"
						id="email"
						placeholder="Email"
						required
						aria-label="Enter your email"
					/>
					<div class="data-error-container">
						<i class="fas fa-exclamation-circle"></i>
						<span class="data-error"></span>
					</div>
				</div>
				<div class="password-container">
					<input
						type="password"
						name="password"
						id="password"
						placeholder="Password"
						required
						aria-label="Enter your password"
					/>
					<div class="data-error-container">
						<i class="fas fa-exclamation-circle"></i>
						<span class="data-error"></span>
					</div>
				</div>
				<div class="confirm-password-container">
					<input
						type="password"
						name="confirmPassword"
						id="confirm-password"
						placeholder="Retype Password"
						required
						aria-label="Retype your password"
					/>
					<div class="data-error-container">
						<i class="fas fa-exclamation-circle"></i>
						<span class="data-error"></span>
					</div>
				</div>
				<input type="submit" id="submit" value="Sign up" aria-label="Submit your input" />
				<a href="login" class="log-in">Are you already with us? Then Log in.</a>
			</form>
		</div>

		<!-- ? Below goes the footer -->

		<div class="footer">
			<div class="footer-label-and-move-to-top-container">
				<a href="/" class="label-container">
					<div class="label">zeerum</div>
				</a>
				<a href="#" class="move-to-top">Move to top</a>
			</div>

			<div class="footer-content">
				<div class="description">
					We are a community that shares ideas of beautiful minds. First started as a
					tech-article website, now it grows as one of the most visited websites for ideas and
					information to keep up with the world and to widen the horizon of creativity.
					<br /><br />
					<span class="made-with-love"
						>Made with <span class="heart">❤</span> by Sandakan as a simple ICT project.</span
					>
				</div>
				<div class="newsletter-description">
					<ul>
						<li>Our daily uploaded articles are now at your fingertips.</li>
						<li>They are personalized to your reading too.</li>
						<li>
							We'll send an email containing popular, trending, and personalized articles
							from the authors right to your inbox.
						</li>
					</ul>
				</div>
				<div class="main-links">
					<ul>
						<li><a href="/">Home</a></li>
						<li><a href="/discover">Discover</a></li>
						<li><a href="/write">Write</a></li>
						<li><a href="/about">About</a></li>
						<li><a href="/signup">Sign up</a></li>
						<li><a href="/login">Log in</a></li>
					</ul>
				</div>
			</div>
			<div class="copyright">&copy; 2021 Zeerum. All right reserved.</div>
		</div>

		<script async type="module" src="/scripts/signup.js"></script>
	</body>
</html>
