<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="description"
			content="Zeerum is a community where you can share your ideas, experiences with the community."
		/>
		<meta name="keywords" content="Articles, Knowledge, Information, Blog" />
		<meta name="author" content="Sandakan Nipunajith" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="csrf-token" content="<%= csrfToken %>" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Write Articles - ZEERUM</title>
		<link rel="icon" href="/images/icon.webp" type="image/png" />
		<link rel="stylesheet" href="/styles/main.css" />
		<link rel="stylesheet" href="/styles/write.css" />
		<link rel="stylesheet" href="/styles/animations.css" />
		<script src="https://kit.fontawesome.com/080e99810e.js" crossorigin="anonymous"></script>
	</head>

	<body class="<%= theme %>">
		<nav class="nav-bar">
			<a href="/" class="label-container">
				<div class="label">zeerum</div>
			</a>
			<div class="link-list">
				<ul>
					<li><a class="home" href="/">Home</a></li>
					<li><a class="discover" href="/discover">Discover</a></li>
					<li><a class="write" href="/write">Write</a></li>
					<li id="get-started">
						<a class="get-started" name="get-started" href="/signup">Get started</a>
					</li>
					<li id="user-profile" class="user-profile"></li>
				</ul>
			</div>
			<div class="user-profile-dropdown" id="user-profile-dropdown"></div>
		</nav>

		<div class="popup-container" id="popup-container">
			<div class="popup" id="popup"></div>
		</div>

		<div class="banner-container">
			<div class="banner">
				<div class="banner-img"></div>
				<div class="banner-elements-container">
					<div class="banner-text"></div>
				</div>
			</div>
		</div>

		<div class="write-content">
			<div class="write-preview" contenteditable="plaintext-only" id="write-preview"></div>
			<div class="write-elements">
				<div class="elements-container">
					<span class="element article-heading-element">
						<i class="fas fa-heading"></i> Article Heading
					</span>
					<span class="element h1-element"> <i class="fas fa-heading"></i> Heading 1</span>
					<span class="element h2-element"> <i class="fas fa-heading"></i> Heading 2</span>
					<span class="element img-element"> <i class="far fa-image"></i> Image</span>
					<span class="element p-element"> <i class="fas fa-paragraph"></i> Paragraph</span>
					<span class="element ul-element">
						<i class="fas fa-list-ul"></i> Unordered List</span
					>
					<span class="element ol-element"> <i class="fas fa-list-ol"></i> Ordered List</span>
					<span class="element section-element"> <i class="far fa-square"></i> Section</span>
				</div>
			</div>
			<div class="finalize-article-btn-container next-btn">
				<button disabled>Finalize the Article <i class="fas fa-chevron-right"></i></button>
			</div>
		</div>

		<div class="alert-container">
			<div class="message-container"></div>
			<div class="buttons-container">
				<i class="fas fa-times close-btn"></i>
			</div>
		</div>

		<!-- ? Below goes the footer -->

		<div class="footer">
			<div class="footer-label-and-move-to-top-container">
				<a href="/" class="label-container">
					<div class="label">zeerum</div>
				</a>
				<a href="#" class="move-to-top">Move to top</a>
			</div>

			<div class="footer-content">
				<div class="description">
					We are a community that shares ideas of beautiful minds. First started as a
					tech-article website, now it grows as one of the most visited websites for ideas and
					information to keep up with the world and to widen the horizon of creativity.
					<br /><br />
					<span class="made-with-love"
						>Made with <span class="heart">❤</span> by Sandakan as a simple ICT project.</span
					>
				</div>
				<div class="newsletter-description">
					<ul>
						<li>Our daily uploaded articles are now at your fingertips.</li>
						<li>They are personalized to your reading too.</li>
						<li>
							We'll send an email containing popular, trending, and personalized articles
							from the authors right to your inbox.
						</li>
					</ul>
				</div>
				<div class="main-links">
					<ul>
						<li><a href="/">Home</a></li>
						<li><a href="/discover">Discover</a></li>
						<li><a href="/write">Write</a></li>
						<li><a href="/about">About</a></li>
						<li><a href="/signup">Sign up</a></li>
						<li><a href="/login">Log in</a></li>
					</ul>
				</div>
			</div>
			<div class="copyright">&copy; 2021 Zeerum. All right reserved.</div>
		</div>

		<script src="/scripts/scrollTop.js"></script>
		<script type="module" src="/scripts/write.js"></script>
		<script type="module" src="/scripts/profile.js"></script>
	</body>
</html>
