.banner-container {
	height: 80vh;
}

.banner-elements-container {
	position: relative;
	z-index: 1;
	display: flex;
	justify-content: center;
	align-items: flex-end;
}

.banner-img {
	background-image: url('/images/banners/banner15.webp') !important;
}

.banner-text {
	text-align: left;
	left: inherit;
	right: -20px;
	font-size: 5.5rem;
	letter-spacing: 3px;
}

.animation-container {
	width: 100%;
	height: fit-content;
	box-sizing: border-box;
	margin: 120px 0 30px 0;
	padding: 100px 0;
	background: linear-gradient(
		135deg,
		#5335cf 0%,
		#de005e 25%,
		#f66e48 50%,
		#de005e 75%,
		#5335cf 100%
	);
	background-size: 1000%;
	animation: logo-animation 45s ease infinite;
	display: flex;
	justify-content: center;
	align-items: center;
}

.animation-container .animation-text {
	width: 100%;
	height: fit-content;
	font-size: 4rem;
	color: var(--text-color-white);
	text-align: center;
	padding: 0 100px;
}

/* 
.mission-container {
	width: 100%;
	height: 200px;
	padding: 20px 0;
	box-sizing: content-box;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
}

.mission-container::before {
	content: '';
	width: 30%;
	transform: scaleX(0);
	height: 7px;
	border-radius: 50px;
	position: absolute;
	top: 10px;
	background-color: #000;
	transition: transform 0.5s ease-out 0.2s;
}

.mission-container[data-scroll='in']::before {
	transform: scaleX(1);
}

.mission-container::after {
	content: '';
	width: 15%;
	height: 7px;
	transform: scaleX(0);
	border-radius: 50px;
	position: absolute;
	bottom: 0;
	background-color: #000;
	transition: transform 0.5s ease-out 0.5s;
}

.mission-container[data-scroll='in']::after {
	transform: scaleX(1);
}

.mission-container .mission {
	text-align: center;
	font-size: 2.5rem;
	margin: 20px 50px 10px 50px;
	padding: 0 50px;
}

.mission-container .mission i {
	padding: 10px 0 20px 0;
} */

.belief-container {
	width: 100%;
	height: 400px;
	margin: 100px 0 10px 0;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	overflow: hidden;
	position: relative;
	color: var(--text-color);
}

.belief-container > .background {
	width: 80%;
	height: 100%;
	position: absolute;
	right: 0;
	background-image: url('/images/about/belief-background.svg');
	background-repeat: no-repeat;
	background-position: right top;
	background-size: cover;
}

.belief-container > .belief {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: space-around;
	z-index: 1;
}

.belief-container > .belief > span {
	width: 50%;
	font-size: 2.9rem;
	line-height: 50px;
	padding-left: 20px;
}

.belief-container > .belief > .mission-img {
	width: fit-content;
	height: 100%;
	display: inherit;
}

.belief-container > .belief > .belief-img > img {
	width: 400px;
	height: 400px;
	object-fit: fill;
	margin: 0 80px 0 0;
}

.reasons-container {
	width: 100%;
	height: 400px;
	margin: 50px 0 10px 0;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	position: relative;
	color: var(--text-color);
}

.reasons-container > .background {
	width: 100%;
	height: 100%;
	position: absolute;
	overflow: hidden;
	background-image: url('/images/about/reason-background.svg');
	background-repeat: no-repeat;
	background-position: right top;
	background-size: cover;
}

.reasons-container > .background > svg {
	object-fit: cover;
}

.reasons-container > .reason {
	width: 100%;
	height: fit-content;
	display: flex;
	align-items: center;
	justify-content: space-around;
	z-index: 1;
	order: 1;
}

.reasons-container > .reason > span {
	width: 50%;
	font-size: 2.9rem;
	line-height: 50px;
	order: 1;
	padding: 0 20px 0 0;
}

.reasons-container > .reason > .reason-img {
	width: fit-content;
	height: 100%;
	overflow: hidden;
	margin: 0 0 0 70px;
}

.reasons-container > .reason > .reason-img > img {
	width: 400px;
	height: 400px;
	object-fit: fill;
	margin: 0;
}

.testimonial-container {
	width: 100%;
	height: 400px;
	padding: 40px 10px;
	margin-top: 25px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}

.testimonial-container > .testimonial-heading {
	width: 100%;
	text-align: center;
	font-size: 3rem;
	text-transform: uppercase;
	word-spacing: 5px;
	color: var(--text-color);
}

.testimonial-container > .users-container {
	width: 60%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.testimonial-container > .users-container > img {
	width: 100px;
	height: 100px;
	border-radius: 50px;
	filter: grayscale(1);
	transition: filter 0.3s linear;
}

.testimonial-container > .users-container > :is(img:hover, .active) {
	filter: grayscale(0);
}

.testimonial-container > .user-comment-container {
	width: 100%;
	margin-top: 20px;
	padding: 0 50px;
	text-align: center;
	font-size: 1.5rem;
	color: var(--text-color-1);
	word-spacing: 3px;
}
.testimonial-container > .user-comment-container > .comment-user-name {
	margin-top: 20px;
	text-transform: uppercase;
	color: var(--background-color-500);
}

.join-with-us-container {
	width: 100%;
	height: 350px;
	display: flex;
	position: relative;
	justify-content: center;
	background-image: url('../images/about/image1-back-removed.png');
	background-repeat: no-repeat;
	background-position: 50% 120%;
	overflow: visible;
	color: var(--text-color);
	border: none;
}

.join-with-us-container::after {
	content: '';
	width: 10%;
	height: 5px;
	background-color: var(--background-color-400);
	position: absolute;
	bottom: -10px;
	transition: width 600ms ease-in-out 200ms;
	-webkit-transition: width 600ms ease-in-out 200ms;
	-moz-transition: width 600ms ease-in-out 200ms;
	-ms-transition: width 600ms ease-in-out 200ms;
	-o-transition: width 600ms ease-in-out 200ms;
	border-radius: 1em;
	-webkit-border-radius: 1em;
	-moz-border-radius: 1em;
	-ms-border-radius: 1em;
	-o-border-radius: 1em;
}

.join-with-us-container[data-scroll='in']::after {
	width: 60%;
}

.join-with-us-container > .description {
	font-size: 3.25rem;
	padding: 50px 100px;
	text-align: center;
}

/*///////////////////////////////////////////////  ANIMATIONS  //////////////////////////////////////////////////////*/
/*
@keyframes anime{
    from {
        height:40vh;
    }
    to{
        height:80vh;
    }
}
*/

/*/////////////////////////////////////////////////  @MEDIA  ////////////////////////////////////////////////////////*/
@media screen and (min-width: 1920px) {
	.mission-container {
		height: 300px;
	}
}

@media screen and (max-width: 1050px) {
	.banner-container .banner-img {
		background-position: 50% 100%;
	}

	.banner-container .banner .banner-text {
		right: 10px;
	}

	.animation-container {
		padding: 50px 0;
	}

	.belief-container > .belief > .belief-img > img {
		width: 300px;
		height: 300px;
		object-fit: fill;
		margin: 20px 80px 0 0;
	}

	.reason-container > .reason > .reason-img {
		margin: 0;
	}

	.reason-container > .reason > .reason-img > img {
		width: 300px;
		height: 300px;
		object-fit: fill;
		margin: 20px 80px 0 0;
	}
}

@media screen and (max-width: 900px) {
	.banner-container .banner .banner-img {
		background-position: 40% 100%;
	}

	.banner-container .banner .banner-text {
		right: 20px;
	}

	.animation-container .animation-text {
		font-size: 3rem;
	}

	.mission-container .mission {
		font-size: 2.25rem;
		padding: 0 30px;
	}

	.belief-container > .belief > .element-img > img {
		margin: 20px 50px 0 0;
	}

	.join-with-us-container .description {
		padding: 100px 20px;
		font-size: 3rem;
	}
}

@media screen and (max-width: 700px) {
	.banner-container .banner .banner-text {
		right: inherit;
		font-size: 7rem;
	}

	.saying-container .saying {
		font-size: 2rem;
		padding: 0 30px;
	}

	:is(.belief-container .belief, .reason-container .reason) span {
		font-size: 2.5rem;
		line-height: 40px;
	}

	.belief-container > .belief > .element-img > img {
		width: 250px;
		height: 250px;
	}
}

@media screen and (max-width: 600px) {
	.banner-elements-container {
		justify-content: center;
	}

	.banner-text {
		padding: 0;
		text-align: center;
		right: inherit;
		line-height: 100px;
	}

	.animation-container .animation-text {
		font-size: 3rem;
		padding: 0 20px;
	}

	.creators-container .creator .img img {
		width: 100px;
		height: 100px;
	}

	.saying-container {
		margin-bottom: 30px;
	}

	.saying-container .saying {
		padding: 0 20px;
		font-size: 1.8rem;
	}

	.mission-container .mission {
		font-size: 2rem;
		padding: 0 20px;
	}

	.belief-container,
	.reason-container {
		height: 300px;
	}

	.reason-container {
		display: block;
		margin: 0;
		min-height: 250px;
		height: fit-content;
	}

	.reason-container > .reason {
		display: flex;
	}

	.reason-container > .reason > span {
		position: relative;
		margin: 20px 30px;
		width: 90%;
		padding: 0;
		text-align: center;
	}

	.belief-container > .belief > span {
		width: 100%;
		padding: 0 20px;
		text-align: center;
	}

	.belief-container > .belief > .belief-img,
	.reason-container > .reason > .reason-img {
		display: none;
	}

	.join-with-us-container {
		height: 350px;
	}

	.join-with-us-container > hr {
		top: 0;
		display: none;
	}

	.join-with-us-container > .description {
		padding: 12px 10px 10px 10px;
	}
}
