/* Transitions */

/*Transitions for HOME, DISCOVER, WRITE and ABOUT */

/*
.nav-bar .link-list ul li:hover {
    background-color: rgba(0, 0, 0, 0.1);
}
*/
.nav-bar .link-list ul li#get-started:hover {
	background: var(--background-color-100);
	border-color: var(--highlight-color);
}
.nav-bar .link-list ul li#get-started:hover a {
	color: var(--highlight-color);
}

.nav-bar .link-list ul li a:hover {
	color: var(--highlight-color);
}

.nav-bar .link-list ul li a:hover::after {
	transform: translateX(-50%) scaleX(1) !important;
}

.banner:hover .banner-img {
	transform: scale(1.1);
}

.nav-box .navigate-through-links ul li:hover {
	box-shadow: 10px 30px 70px -20px var(--box-shadow);
}

.nav-box .search-through-categories .categories:hover {
	background-color: var(--highlight-color);
}

.article:hover {
	box-shadow: 0px 25px 100px -15px var(--box-shadow);
	-webkit-box-shadow: 0px 25px 100px -15px var(--box-shadow);
	-moz-box-shadow: 0px 25px 100px -15px var(--box-shadow);
}

.discover-category:hover {
	box-shadow: 0px 24px 100px -15px var(--box-shadow);
	-webkit-box-shadow: 0px 24px 100px -15px var(--box-shadow);
	-moz-box-shadow: 0px 24px 100px -15px var(--box-shadow);
}

.footer .footer-label-move-to-top-and-theme-change-container > .move-to-top:hover,
.footer > .footer-content > .main-links > ul > li > a:hover {
	text-decoration: underline;
}

/*Transitions for SIGN-IN */
input:not([type='submit']):focus {
	border-color: var(--background-color-500);
}

.container > .form > input[id='submit']:hover,
.form > input[id='submit']:hover {
	background-color: var(--background-color-400);
	border-color: var(--background-color-400);
}

.container > .form > .log-in:hover,
.form > a:hover {
	/*? This transition is used both on SIGN-IN and LOG-IN websites. */
	text-decoration: underline;
}

/*? /////////////////////////////////////////// STYLING FOR ARTICLES /////////////////////////////////////////////*/

.article-img-and-heading-container:hover .article-img-container img {
	transform: scale(1.1);
}

/*? //////////////////////////////////////////////// MEDIA RULES /////////////////////////////////////////////////*/
@media screen and (max-width: 700px) {
	.banner:hover .banner-img {
		transform: scale(1);
	}
}

/* Animations */
@keyframes logo-animation {
	to {
		background-position: 400%;
	}
}

@keyframes line {
	from {
		transform: translateX(-50%) scaleX(0);
	}
	to {
		transform: translateX(-50%) scaleX(0.3);
	}
}
