@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&family=Open+Sans:wght@300;400;600;700;800&display=swap');

.popup-container .share-popup {
	/* width: 60vw; */
	height: 70vh;
	/* min-width: 700px; */
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 1.5em 5em;
}
.popup-container .share-popup img {
	max-width: 100%;
	width: 8em;
	margin: 1em auto;
}
.popup-container .share-popup p {
	font-size: 1.25em;
	text-align: center;
}

.copy-container {
	font-size: 1rem;
	width: 80%;
	position: relative;
	background-color: var(--background-color-200);
	margin: 2em auto;
	padding: 0.625rem 3.125rem 0.625rem 0.625rem;
	border-radius: 0.625em;
	-webkit-border-radius: 0.625em;
	-moz-border-radius: 0.625em;
	-ms-border-radius: 0.625em;
	-o-border-radius: 0.625em;
}

.copy-container .copy-btn {
	width: 10%;
	height: 100%;
	font-size: 1.8em;
	position: absolute;
	top: 0;
	right: 0;
	background-color: var(--background-color-400);
	border-radius: 0.5em;
	text-align: center;
	padding: 0.5em;
	overflow: hidden;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	-webkit-border-radius: 0.5em;
	-moz-border-radius: 0.5em;
	-ms-border-radius: 0.5em;
	-o-border-radius: 0.5em;
}

.copy-container.copied {
	background-color: #27ae60;
}
.share-popup .copied-message {
	text-align: center;
}

.article-elements-container {
	width: 100%;
	margin: 6em auto 0;
	padding: 1.25em 1em 0 1em;
	background-color: transparent;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.article-data-container {
	position: relative;
	width: 70%;
	height: 100%;
	background-color: transparent;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.article-img-and-heading-container {
	width: 100%;
	min-height: 25vw;
	height: 80vh;
	background-color: var(--background-color-100);
	border-radius: 1em;
	position: relative;
	overflow: hidden;
	box-shadow: 0px 16px 72px -5px rgba(0, 0, 0, 0.49);
	-webkit-box-shadow: 0px 16px 72px -5px rgba(0, 0, 0, 0.49);
	-moz-box-shadow: 0px 16px 72px -5px rgba(0, 0, 0, 0.49);
	-webkit-border-radius: 1em;
	-moz-border-radius: 1em;
	-ms-border-radius: 1em;
	-o-border-radius: 1em;
}

.article-img-container {
	width: 100%;
	height: 100%;
	border-radius: 1em;
	-webkit-border-radius: 1em;
	-moz-border-radius: 1em;
	-ms-border-radius: 1em;
	-o-border-radius: 1em;
}

.article-img-container img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	transform: scale(1);
	transition: transform 0.8s ease 0.2s;
}

.article-heading-and-stats-container {
	width: 100%;
	padding: 5em 5% 4em 5%;
	height: fit-content;
	position: absolute;
	bottom: 0;
	background: linear-gradient(0deg, var(--highlight-color) 0%, transparent 100%);
}

.article-heading-and-stats-container span[class='article-heading'] {
	font-size: 2.25rem;
	font-weight: 500;
	color: var(--text-color-white);
	height: fit-content;
	margin: 0.25em 0;
	position: relative;
}

.article-heading::before {
	content: '';
	width: 0.3em;
	height: 75%;
	position: absolute;
	border-radius: 0.5em;
	background-color: var(--text-color-white);
	top: 0.25em;
	left: -0.5em;
	-webkit-border-radius: 0.5em;
	-moz-border-radius: 0.5em;
	-ms-border-radius: 0.5em;
	-o-border-radius: 0.5em;
}

.article-heading-and-stats-container .article-stats {
	position: absolute;
	bottom: 1.5em;
	color: var(--background-color-200);
}

/*? ///////////////////////////////////// Article related styling goes below //////////////////////////////////////// */

.article-data {
	width: 100%;
	margin-top: 5em;
	padding: 2.5em 0;
	background-color: var(--background-color-100);
	border: 0.25em solid var(--background-color-200);
	font-size: 1rem;
	color: var(--text-color);
	border-radius: 1em;
	-webkit-border-radius: 1em;
	-moz-border-radius: 1em;
	-ms-border-radius: 1em;
	-o-border-radius: 1em;
}

.article-data :is(p, span, ul, ol) {
	padding: 1em 3em 0.625em 3em;
}

.article-data :is(h3, h2, h1) {
	padding: 1em 2em 0.625em 2.5em;
}

.article-data p,
.article-data span,
.article-data > .footnotes {
	font-size: 1.5em;
	overflow-wrap: break-word;
	word-wrap: break-word;
	word-break: break-word;
	display: block;
}

.article-data p,
.article-data span,
.article-data ol li,
.article-data ul li {
	font-family: 'Noto Serif', serif;
	font-size: 1.3em;
	word-spacing: 0.1em;
	line-height: 1.6em;
}

.article-data :is(h1, h2, h3) {
	font-family: 'Open Sans', sans-serif;
	padding-top: 1.5em;
}

.article-data span {
	text-indent: 0;
}

.article-data h1 {
	font-size: 2em;
}

.article-data h2 {
	font-size: 1.8em;
}

.article-data h3 {
	font-size: 1.7em;
}

.article-data ul,
.article-data ol {
	padding-top: 0;
	padding-left: 7.5em;
}

.article-data ul li,
.article-data ol li {
	padding: 0.3em 0 0.5em 0;
}

.article-data ul li b {
	font-weight: 450;
}

.article-data img {
	max-width: 100%;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	border-radius: 0.5em;
	padding: 4em;
	transition: box-shadow 0.5s 0.2s ease-in-out;
	-webkit-border-radius: 0.5em;
	-moz-border-radius: 0.5em;
	-ms-border-radius: 0.5em;
	-o-border-radius: 0.5em;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
}

.article-data img:hover {
	box-shadow: var(--box-shadow) 0px 50px 100px -20px, var(--box-shadow) 0px 30px 60px -30px;
}

.article-data-container > .article-data > .end {
	position: relative;
	bottom: 0;
	left: 4.25em;
	width: 0.75em;
	height: 0.75em;
	background-color: var(--text-color);
}

.article-data-container > .article-data > .footnotes {
	width: 90%;
	margin: 1.5em auto 0.5em;
	font-size: 0.9rem;
	color: var(--background-color-500);
}
.article-data-container > .article-data > .footnotes a {
	text-decoration: underline;
	color: var(--text-color-1);
}

.article-data-container > .article-data > :is(.categories, .tags) {
	width: 90%;
	height: fit-content;
	position: relative;
	left: 3em;
	margin-top: 1em;
	display: flex;
	flex-wrap: wrap;
}
.article-data-container > .article-data > :is(.categories, .tags) a {
	text-decoration: none;
	color: var(--text-color-white);
	outline: none;
}
.article-data-container > .article-data > .categories a:hover {
	text-decoration: underline;
}
.article-data-container > .article-data > .categories a .category {
	width: -moz-fit-content;
	width: fit-content;
	height: -moz-fit-content;
	height: fit-content;
	font-size: 1.2em;
	padding: 0.25em 0.75em;
	margin: 0 0.6em 0 0;
	background-color: var(--highlight-color);
	border-radius: 1em;
	-webkit-border-radius: 1em;
	-moz-border-radius: 1em;
	-ms-border-radius: 1em;
	-o-border-radius: 1em;
}
.article-data-container > .article-data > .tags a .tag {
	padding: 0.5em 0.7em 0 0.25em;
	font-size: 1.2em;
	font-weight: 500;
	color: var(--highlight-color);
}

.article-data-container > .article-data > .tags a:hover {
	text-decoration: underline;
}

/*? //////////////////////////////////////////// End of article styling ///////////////////////////////////////////// */

/*? ////////////////////// Author container and comments section styling goes below //////////////////////////////// */

.author-information-container {
	min-width: 250px;
	width: 25%;
	height: fit-content;
	height: -moz-fit-content;
	border-radius: 0.75em;
	padding: 0 0 1em 0;
	background-color: var(--background-color-100);
	border: 0.25em solid var(--background-color-300);
	overflow: hidden;
	display: flex;
	flex-direction: column;
	box-shadow: 0px 16px 72px -5px var(--box-shadow);
	-webkit-box-shadow: 0px 16px 72px -5px var(--box-shadow);
	-moz-box-shadow: 0px 16px 72px -5px var(--box-shadow);
	position: sticky;
	top: 2em;
	transform: translateY(0);
	transition: transform 0.2s ease-in-out;
	-webkit-transition: transform 0.2s ease-in-out;
	-moz-transition: transform 0.2s ease-in-out;
	-ms-transition: transform 0.2s ease-in-out;
	-o-transition: transform 0.2s ease-in-out;
	-webkit-border-radius: 0.75em;
	-moz-border-radius: 0.75em;
	-ms-border-radius: 0.75em;
	-o-border-radius: 0.75em;
	-webkit-transform: translateY(0);
	-moz-transform: translateY(0);
	-ms-transform: translateY(0);
	-o-transform: translateY(0);
}
.author-information-container.sticky {
	transform: translateY(50px);
	-webkit-transform: translateY(50px);
	-moz-transform: translateY(50px);
	-ms-transform: translateY(50px);
	-o-transform: translateY(50px);
}

.author {
	width: 100%;
	height: -moz-fit-content;
	height: fit-content;
	background-color: transparent;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.author .author-data-container {
	width: 100%;
	margin: 1.25em 0 0.75em 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.author .author-data-container img {
	width: 6em;
	height: 6em;
	border-radius: 5em;
	margin-bottom: 1em;
	cursor: pointer;
	-webkit-border-radius: 5em;
	-moz-border-radius: 5em;
	-ms-border-radius: 5em;
	-o-border-radius: 5em;
}

.author .author-data-container .name {
	color: var(--text-color);
	margin: 0 15px;
	font-size: 1.2rem;
	cursor: pointer;
	text-align: center;
}
.author .author-data-container .follow-author-btn {
	padding: 0.5em 1em;
	margin-top: 0.75em;
	border-color: transparent;
	background-color: var(--background-color-400);
	color: #fff;
	border-radius: 0.5em;
	cursor: pointer;
	text-transform: uppercase;
	-webkit-border-radius: 0.5em;
	-moz-border-radius: 0.5em;
	-ms-border-radius: 0.5em;
	-o-border-radius: 0.5em;
}
.author .author-data-container .follow-author-btn-followed {
	background-color: transparent;
	border: 0.2em solid var(--background-color-400);
	color: var(--background-color-400);
	text-transform: uppercase;
}

.author hr {
	width: 90%;
	border-color: var(--background-color-00);
	background-color: var(--background-color-00);
}

.author .reaction-buttons-container {
	position: relative;
	bottom: 0;
	padding: 0.5em 0;
	width: fit-content;
	display: flex;
	justify-content: space-between;
	-webkit-user-select: none; /* Safari */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* supported by Chrome and Opera */
	color: var(--text-color-1);
}

.author .reaction-buttons-container :is(.like, .share, .bookmark) {
	text-align: center;
	margin: 0 0.75em;
	padding: 0 0.75em;
	cursor: pointer;
	border-bottom: 0.25em solid var(--background-color-200);
	transition: border-color 250ms ease-in-out;
}

.author .reaction-buttons-container .like:hover {
	border-color: hsl(0, 100%, 55%);
}

.author .reaction-buttons-container .bookmark:hover {
	border-color: hsl(271, 76%, 53%);
}

.author .reaction-buttons-container .share:hover {
	border-color: hsl(218, 100%, 60%);
}

.author .reaction-buttons-container :is(.like, .share, .bookmark) i {
	font-size: 1.5em;
	padding: 0.25em 0 0 0;
	transition: color 0.3s ease;
	/* -webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: var(--text-color); */
}

.author
	.reaction-buttons-container
	:is(.like > #liked-number, .share > #shared-number, .bookmark > #bookmarked-number) {
	font-size: 1.2em;
	display: block;
	padding: 0.25em 0 0 0;
}

.reaction-buttons-container > .liked {
	border-color: hsl(0, 100%, 55%) !important;
}

.reaction-buttons-container > .liked > i {
	color: hsl(0, 100%, 55%);
	animation: reaction-buttons-animation 0.35s ease;
}

.reaction-buttons-container > .shared {
	border-color: hsl(218, 100%, 60%) !important;
}

.reaction-buttons-container > .shared > i {
	color: hsl(218, 100%, 60%);
	animation: reaction-buttons-animation 0.35s ease;
}

.reaction-buttons-container > .bookmarked {
	border-color: hsl(271, 76%, 53%) !important;
}

.reaction-buttons-container > .bookmarked > i {
	color: hsl(271, 76%, 53%);
	animation: reaction-buttons-animation 0.35s ease;
}

.author-information-container .comments-section {
	margin-top: 0.25em;
}

.author-information-container .comments-section .comment-input-container {
	position: relative;
	width: 90%;
	margin: 0 auto;
	overflow: auto;
}

.author-information-container
	.comments-section
	.comment-input-container
	input[name='comment-input-container'] {
	width: 100%;
	height: 2.75em;
	margin-top: 0.5em;
	padding-left: 5%;
	padding-right: 12%;
	border-radius: 1.25em;
	font-size: 1rem;
	position: relative;
	border: none;
	outline: none;
	background-color: var(--background-color-200);
	transition: background 0.2s ease-in-out;
	-webkit-transition: background 0.2s ease-in-out;
	-moz-transition: background 0.2s ease-in-out;
	-ms-transition: background 0.2s ease-in-out;
	-o-transition: background 0.2s ease-in-out;
	-webkit-border-radius: 1.25em;
	-moz-border-radius: 1.25em;
	-ms-border-radius: 1.25em;
	-o-border-radius: 1.25em;
	color: var(--text-color);
}
.author-information-container
	.comments-section
	.comment-input-container
	input[name='comment-input-container']::placeholder {
	color: var(--text-color-1);
}
.author-information-container
	.comments-section
	.comment-input-container
	input[name='comment-input-container']:focus {
	background-color: var(--background-color-300);
}

.author-information-container .comments-section .comment-input-container .comment-send-btn {
	width: 15%;
	height: 80%;
	position: absolute;
	right: 0;
	top: 57.5%;
	transform: translateY(-50%);
	cursor: pointer;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.author-information-container .comments-section .comment-input-container .comment-send-btn i {
	font-size: 1.7em;
	color: var(--background-color-400);
	transition: color 150ms ease-in-out;
}

.author-information-container .comments-section .comment-input-container .comment-send-btn:hover i {
	color: var(--highlight-color);
}
.author-information-container .comments-section .comments {
	width: 90%;
	min-height: 150px;
	height: fit-content;
	max-height: 30vh;
	border-radius: 0.75em;
	margin: 1.25em auto 0;
	position: relative;
	background-color: var(--background-color-200);
	overflow: auto;
	-webkit-border-radius: 0.75em;
	-moz-border-radius: 0.75em;
	-ms-border-radius: 0.75em;
	-o-border-radius: 0.75em;
}

.author-information-container .comments-section .comments .comment {
	display: block;
	padding: 0.3em 0.3em 0.75em 0.3em;
	position: relative;
	display: flex;
	flex-direction: row;
	word-break: break-word;
	color: var(--text-color);
}
.author-information-container .comments-section .comments .comment img {
	width: 1.75em;
	height: 1.75em;
	border-radius: 1.75em;
	margin: 0 0.5em 0 0.35em;
	cursor: pointer;
	-webkit-border-radius: 1.75em;
	-moz-border-radius: 1.75em;
	-ms-border-radius: 1.75em;
	-o-border-radius: 1.75em;
}

.author-information-container .comments-section .comments .comment .text {
	position: relative;
}

.author-information-container .comments-section .comments .comment .text .name {
	font-size: 0.8em;
	text-transform: uppercase;
	color: var(--background-color-500);
	font-weight: 500;
	word-spacing: 0.2em;
	display: block;
	cursor: pointer;
	text-decoration: none;
}
.author-information-container .comments-section .comments .comment .text .name:hover {
	text-decoration: underline;
}

.author-information-container .comments-section .comments .comment .text .stats {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding-top: 0.25em;
	color: var(--text-color-1);
}

.author-information-container .comments-section .comments .comment .text .stats .commented-date {
	font-size: 0.7em;
	text-transform: uppercase;
	word-spacing: 0.2em;
	margin-right: 1.25em;
}

.author-information-container .comments-section .comments .comment .text .stats .like-comment {
	font-size: 0.7em;
	margin-right: 1.25em;
	cursor: pointer;
	text-transform: uppercase;
	transition: color 0.2s linear;
	-webkit-transition: color 0.2s linear;
	-moz-transition: color 0.2s linear;
	-ms-transition: color 0.2s linear;
	-o-transition: color 0.2s linear;
}

.author-information-container
	.comments-section
	.comments
	.comment
	.text
	.stats
	.like-comment:hover {
	text-decoration: underline;
}

.author-information-container
	.comments-section
	.comments
	.comment
	.text
	.stats
	.like-comment.liked {
	color: red;
	font-weight: 500;
}

.author-information-container .comments-section .comments .comment .text .stats .reply-btn {
	font-size: 0.7em;
	text-transform: uppercase;
	cursor: pointer;
	position: relative;
	right: 0;
	margin-right: 1em;
}
.author-information-container .comments-section .comments .comment .text .stats .reply-btn:hover {
	text-decoration: underline;
}

.author-information-container .comments-section .comments .no-comments {
	width: 100%;
	text-align: center;
	/* color: var(--text-color-1); */
	color: var(--background-color-500);
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

/*? //////////////////////////////////////////////   @ MEDIA    ///////////////////////////////////////////////////// */

@media screen and (max-width: 920px) {
	.article-elements-container {
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
		padding: 0;
	}

	.article-elements-container > .article-data-container {
		width: 100%;
	}
	.article-elements-container > .article-data-container > .article-img-and-heading-container {
		height: 70vh;
		border-radius: initial;
		-webkit-border-radius: initial;
		-moz-border-radius: initial;
		-ms-border-radius: initial;
		-o-border-radius: initial;
	}

	.article-heading-and-stats-container {
		padding-right: 2.5%;
	}

	.author-information-container {
		position: relative;
		flex-direction: row;
		justify-content: unset;
		width: 80%;
	}
	.author-information-container.sticky {
		transform: none;
		-webkit-transform: none;
		-moz-transform: none;
		-ms-transform: none;
		-o-transform: none;
	}
	.author-information-container .author {
		width: 40%;
	}
	.author-information-container .comments-section {
		flex-grow: 1;
	}
}

@media screen and (max-width: 700px) {
	.article-elements-container > .article-data-container > .article-img-and-heading-container {
		height: 50vh;
	}
	.author-information-container {
		width: 95%;
	}
}

@media screen and (max-width: 600px) {
	.article-data :is(p, span, ul, ol) {
		padding: 1em 1em 0.625em 1em;
	}

	.article-data :is(h3, h2, h1) {
		padding: 1em 1em 0.625em 0.75em;
	}

	.article-data-container > .article-data > .end {
		left: 1.5em;
	}
}

@media screen and (max-width: 500px) {
	.author-information-container {
		flex-direction: column;
		width: 90%;
	}
	.author-information-container .author {
		width: 100%;
	}
	.author-information-container .comments-section {
		flex-grow: unset;
	}
}

/* 
@media screen and (min-width: 1920px) {
	.article-elements-container {
		width: 80vw;
		position: relative;
		left: 50%;
		transform: translateX(-50%);
	}
	.author-information-container .comments-section .comment-input-container input[name='comment-input-container'] {
		height: 50px;
	}
	.author-information-container .comments-section .comment-input-container .comment-send-btn i {
		line-height: 30px;
	}
}

@media screen and (max-width: 1920px) {
	.article-heading-and-stats-container > span[class='article-heading'] {
		font-size: 2.5rem;
	}
}

@media screen and (max-width: 1050px) {
	.article-heading-and-stats-container > .article-heading::before {
		top: 75px;
	}

	.article-data p,
	.article-data span {
		line-height: 20px;
	}
}

@media screen and (max-width: 900px) {
	.article-elements-container {
		flex-direction: column;
		align-items: center;
	}
	.article-data-container {
		width: 95%;
	}
	.author-information-container {
		flex-direction: row;
		width: 90%;
		margin-right: unset;
	}

	.author-information-container .comments-section {
		margin-top: unset;
		padding: unset;
	}

	.author-information-container .comments-section .comment-input-container {
		margin-top: 15px;
	}
}

@media screen and (max-width: 700px) {
	.article-data p,
	.article-data span,
	.article-data ul,
	.article-data ol {
		font-size: 1.25rem;
	}
}

@media screen and (max-width: 600px) {
	.article-img-and-heading-container {
		height: 65vh;
		width: 100%;
		border-radius: unset;
	}

	.article-heading-and-stats-container {
		padding-bottom: 30px;
	}

	.article-data-container .article-heading::before {
		width: 40%;
		height: 8px;
		top: 60px;
		left: 5%;
	}

	.article-data-container {
		width: 100%;
	}

	.article-data {
		width: 100%;
		margin-top: 20px;
		padding-top: 30px;
	}

	.article-data :is(p, span, h3, h2, h1, ul, ol) {
		padding: 20px 25px 10px 25px;
	}

	.article-data :is(p, span) {
		font-size: 1.3rem;
	}

	.article-data :is(ul, ol) {
		padding-left: 60px;
	}

	.article-data-container > .article-data > .end {
		left: 25px;
	}

	.author-information-container {
		flex-direction: column;
	}

	.author-information-container .comments-section {
		margin-top: 10px;
	}
} */

/*? ////////////////////////////////////////////    @ KEYFRAMES    ////////////////////////////////////////////////// */
@keyframes reaction-buttons-animation {
	0% {
		transform: scale(1);
	}

	50% {
		transform: scale(1.75);
	}

	100% {
		transform: scale(1);
	}
}
