.change-profile-picture {
	position: relative;
}
.change-profile-picture.on-drag-over::after {
	content: 'Drop the image here';
	text-align: center;
	color: var(--background-color-500);
	font-size: 2em;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	opacity: 0;
	transition: opacity 0.2s ease;
	-webkit-transition: opacity 0.2s ease;
	-moz-transition: opacity 0.2s ease;
	-ms-transition: opacity 0.2s ease;
	-o-transition: opacity 0.2s ease;
}
.change-profile-picture.on-drop::after {
	content: 'UPLOADING...';
	text-align: center;
	color: var(--background-color-500);
	font-size: 2em;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	opacity: 0;
	transition: opacity 0.2s ease;
	-webkit-transition: opacity 0.2s ease;
	-moz-transition: opacity 0.2s ease;
	-ms-transition: opacity 0.2s ease;
	-o-transition: opacity 0.2s ease;
}
.change-profile-picture.on-drop-fail form * {
	animation: visible 1s forwards ease 1.5s;
	-webkit-animation: visible 1s forwards ease 1.5s;
}

@keyframes visible {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.change-profile-picture.on-drop-fail::after {
	content: 'UPLOAD FAILED.';
	text-align: center;
	color: var(--highlight-color);
	font-size: 2em;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	opacity: 0;
	/* transition: opacity 0.2s ease;
	-webkit-transition: opacity 0.2s ease;
	-moz-transition: opacity 0.2s ease;
	-ms-transition: opacity 0.2s ease;
	-o-transition: opacity 0.2s ease; */
	animation: dissappear 1s forwards ease;
	-webkit-animation: dissappear 2s forwards ease;
}

@keyframes dissappear {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}

.change-profile-picture.on-drag-over {
	border-color: var(--background-color-500);
}
.change-profile-picture form * {
	transition: opacity 0.2s ease;
	-webkit-transition: opacity 0.2s ease;
	-moz-transition: opacity 0.2s ease;
	-ms-transition: opacity 0.2s ease;
	-o-transition: opacity 0.2s ease;
}
:is(.change-profile-picture.on-drag-over, .change-profile-picture.on-drop, .change-profile-picture.on-drop-fail)
	form
	* {
	opacity: 0;
}
:is(.change-profile-picture.on-drag-over, .change-profile-picture.on-drop, .change-profile-picture.on-drop-fail)::after {
	opacity: 1;
}

.change-profile-picture h1 {
	font-size: 2.5rem;
	font-weight: 400;
	text-align: center;
	margin: 20px 0;
}

.change-profile-picture form {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.change-profile-picture form input[type='file'] {
	display: none;
}

.change-profile-picture form label[for='file'] {
	margin: 20px;
	cursor: pointer;
	position: relative;
}

.change-profile-picture form label[for='file'] img {
	width: 200px;
	height: 200px;
	border: 5px solid var(--highlight-color-4);
	border-radius: 100px;
	transition: box-shadow 0.2s linear;
	-webkit-transition: box-shadow 0.2s linear;
	-moz-transition: box-shadow 0.2s linear;
	-ms-transition: box-shadow 0.2s linear;
	-o-transition: box-shadow 0.2s linear;
}

.change-profile-picture form label[for='file'] i {
	width: 60px;
	height: 60px;
	text-align: center;
	line-height: 60px;
	font-size: 2.5rem;
	color: var(--text-color-white);
	border-radius: 40px;
	background-color: var(--highlight-color-4);
	position: absolute;
	bottom: 0;
	right: 0;
	transition: box-shadow 0.2s linear;
	-webkit-transition: box-shadow 0.2s linear;
	-moz-transition: box-shadow 0.2s linear;
	-ms-transition: box-shadow 0.2s linear;
	-o-transition: box-shadow 0.2s linear;
}

.change-profile-picture form label[for='file']:hover :is(img, i) {
	box-shadow: var(--box-shadow) 0px 1px 1px 0px inset, var(--box-shadow) 0px 50px 100px -20px,
		var(--box-shadow) 0px 30px 60px -30px;
}

.change-profile-picture form input[type='submit'] {
	width: 200px;
	height: 40px;
	font-size: 1.2rem;
	border-radius: 10px;
	border: 2px solid transparent;
	background-color: var(--background-color-300);
	margin-top: 30px;
	cursor: pointer;
	position: relative;
	bottom: 0;
	color: var(--text-color);
}

.change-profile-picture form input[type='submit']:disabled {
	background-color: var(--background-color-100) !important;
	border: 2px solid var(--background-color-300) !important;
	color: var(--background-color-300);
	cursor: not-allowed;
}

.change-profile-picture form p {
	font-size: 1.2rem;
	padding: 0 30px;
	text-align: center;
	margin: 10px 0;
	display: block;
}

.change-user-type {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.change-user-type img {
	margin: 20px 0 10px 0;
	width: 300px;
	max-width: 100%;
}

.change-user-type p {
	font-size: 1.25rem;
	text-align: center;
	padding: 0 20px;
}

.change-user-type .features-benifits-disadvantages {
	/* width: 100%; */
	padding: 1em 3em;
}

.change-user-type .features-benifits-disadvantages p {
	text-align: left;
	width: 100%;
}

.change-user-type .features-benifits-disadvantages ul {
	margin: 0.5em 0 0 5em;
	font-size: 1.25em;
}

.change-user-type :is(#submit-become-an-author, #submit-become-a-reader) {
	position: relative;
	bottom: 20px;
	margin-top: 20px;
	padding: 10px 15px;
	font-size: 1.5rem;
	border-radius: 10px;
	border: 3px solid var(--highlight-color-4);
	background-color: var(--highlight-color-4);
	color: var(--text-color-white);
	cursor: pointer;
}

.settings {
	display: flex;
	flex-direction: column;
}

.settings h1 {
	text-align: left;
	padding: 0 1em 0.5em 1em;
	margin-bottom: 0;
}

.settings .settings-container {
	display: flex;
	flex-direction: row;
	width: 100%;
	height: 100%;
	margin: 0.5em auto;
	border-top: 0.2em solid var(--background-color-200);
}

.settings .settings-container .setting-types {
	width: 20%;
	padding-left: 1em;
	margin-right: 0.5em;
	border-right: 0.2em solid var(--background-color-200);
}

.settings .settings-container .setting-types ul {
	list-style-type: none;
}
.settings .settings-container .setting-types ul li {
	font-size: 1.5em;
	padding: 0.5em 1em;
	cursor: pointer;
	position: relative;
}
.settings .settings-container .setting-types ul li::after {
	content: '';
	position: absolute;
	height: 75%;
	width: 0.2em;
	left: 0;
	top: 50%;
	border-radius: 1em;
	opacity: 0;
	transform: translate(0.25em, -50%);
	background-color: var(--background-color-500);
	-webkit-transform: translate(0.25em, -50%);
	-moz-transform: translate(0.25em, -50%);
	-ms-transform: translate(0.25em, -50%);
	-o-transform: translate(0.25em, -50%);
	transition: transform 0.2s linear, opacity 0.2s linear;
	-webkit-transition: transform 0.2s linear, opacity 0.2s linear;
	-moz-transition: transform 0.2s linear, opacity 0.2s linear;
	-ms-transition: transform 0.2s linear, opacity 0.2s linear;
	-o-transition: transform 0.2s linear, opacity 0.2s linear;
	-webkit-border-radius: 1em;
	-moz-border-radius: 1em;
	-ms-border-radius: 1em;
	-o-border-radius: 1em;
}
.settings .settings-container .setting-types ul li.focused {
	font-weight: 450;
}
.settings .settings-container .setting-types ul li.focused::after {
	transform: translate(0, -50%);
	-webkit-transform: translate(0, -50%);
	-moz-transform: translate(0, -50%);
	-ms-transform: translate(0, -50%);
	-o-transform: translate(0, -50%);
	opacity: 1;
}

.settings .settings-container .settings-content {
	width: 80%;
	padding: 1.5em 2.25em;
}

.settings .settings-container .settings-content h2 {
	font-size: 2.25em;
	font-weight: 400;
}

.settings .settings-container .settings-content ul {
	margin-top: 1em;
	padding-left: 2em;
}

.settings .settings-container .settings-content ul li {
	font-size: 1.25em;
	margin-bottom: 1em;
}

@media screen and (max-width: 1050px) {
	.settings .settings-container {
		display: flex;
		flex-direction: column;
	}

	.settings .settings-container .setting-types {
		width: 100%;
		overflow-x: auto;
	}
	.settings .settings-container .setting-types ul {
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
	}
	.settings .settings-container .setting-types ul li::after {
		height: 0.2em;
		width: 75%;
		top: 0;
		left: 50%;
		transform: translate(-50%, 0.25em);
		-webkit-transform: translate(-50%, 0.25em);
		-moz-transform: translate(-50%, 0.25em);
		-ms-transform: translate(-50%, 0.25em);
		-o-transform: translate(-50%, 0.25em);
	}
	.settings .settings-container .setting-types ul li.focused::after {
		transform: translate(-50%, 0);
		-webkit-transform: translate(-50%, 0);
		-moz-transform: translate(-50%, 0);
		-ms-transform: translate(-50%, 0);
		-o-transform: translate(-50%, 0);
	}
	.settings .settings-container .settings-content {
		width: 100%;
		padding: 1.5em;
	}
}
