body.logged-out .write-content {
	display: none;
}
body.logged-in .banner-container {
	display: none;
}

.nav-bar .link-list ul li:nth-child(3) a {
	color: var(--highlight-color);
}

.nav-bar .link-list ul li:nth-child(3) a::after {
	transform: translateX(-50%) scaleX(0.3);
}

.banner {
	align-items: center;
	justify-content: center;
}

.banner-img {
	background-image: url('/images/banners/banner21.webp') !important;
}

.banner-elements-container {
	position: relative;
	z-index: 1;
	display: flex;
	justify-content: center;
	align-items: center;
}

.banner-text {
	text-align: center;
	font-size: 5rem;
	position: relative;
	left: 0;
	width: fit-content;
}

.banner-text span a {
	color: var(--highlight-color);
	text-decoration: none;
	border-bottom: 2px solid var(--highlight-color);
}
.banner-text span h6 {
	font-size: 1rem;
	font-weight: 400;
}

.write-content {
	width: 95%;
	height: fit-content;
	border: 5px solid #ccc;
	margin: 6em auto 0;
	border-radius: 1em;
	-webkit-border-radius: 1em;
	-moz-border-radius: 1em;
	-ms-border-radius: 1em;
	-o-border-radius: 1em;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	background: #ccc;
}

.write-content .write-preview {
	width: 100%;
	min-height: 60vh;
	background-color: var(--background-color);
	position: relative;
	border-radius: 1em;
	-webkit-border-radius: 1em;
	-moz-border-radius: 1em;
	-ms-border-radius: 1em;
	-o-border-radius: 1em;
	outline: none;
	padding: 0.5em;
	overflow: hidden;
	padding: 1em 1em 5em;
}
.write-content .write-preview:empty:after {
	content: 'Enter article content here.';
	position: absolute;
	width: fit-content;
	height: fit-content;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	font-size: 3rem;
	text-align: center;
	color: #ccc;
}

.write-content
	.write-preview
	:is(.article-heading, .heading-1, .heading-2, .paragraph, .section, .image) {
	width: 100%;
	min-height: 50px;
	height: fit-content;
	background-color: transparent;
	border-left: 0.1em solid red;
	position: relative;
	padding: 0.75em 2em 0.1em 0.5em;
	margin-top: 0.5em;
}

.write-content .write-preview .article-heading {
	font-size: 2.5rem;
	font-weight: bold;
}

.write-content .write-preview .heading-1 {
	font-size: 2rem;
	font-weight: bold;
}

.write-content .write-preview .heading-2 {
	font-size: 1.5rem;
	font-weight: bold;
}
.write-content .write-preview :is(.paragraph, .section) {
	font-size: 1.25rem;
}

.write-content .write-preview .image {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
}
.write-content .write-preview .image img {
	max-width: 100%;
	max-height: 70vh;
	padding: 4em;
}

.write-content
	.write-preview
	:is(.heading-1, .heading-2, .article-heading, .paragraph, .section):empty::before {
	content: '';
}

.write-content .write-preview .article-heading::before {
	content: 'Main Article Heading';
	width: 100%;
	height: fit-content;
	position: absolute;
	top: 0;
	color: #ccc;
	font-weight: 500;
	font-size: 1rem;
}
.write-content .write-preview .article-heading:empty::after {
	content: 'Main Article Heading';
	width: 100%;
	color: #ccc;
	font-weight: 500;
	position: absolute;
	bottom: 0;
}

.write-content .write-preview .heading-1::before {
	content: 'Heading 1';
	width: 100%;
	position: absolute;
	top: 0;
	color: #ccc;
	font-weight: 400;
	font-size: 1rem;
}
.write-content .write-preview .heading-1:empty::after {
	content: 'Heading 1';
	width: 100%;
	color: #ccc;
	font-weight: 500;
	position: absolute;
	bottom: 0;
}
.write-content .write-preview .heading-2::before {
	content: 'Heading 2';
	width: 100%;
	position: absolute;
	top: 0;
	color: #ccc;
	font-weight: 400;
	font-size: 1rem;
}
.write-content .write-preview .heading-2:empty::after {
	content: 'Heading 2';
	width: 100%;
	color: #ccc;
	font-weight: 500;
	position: absolute;
	bottom: 0;
}
.write-content .write-preview .paragraph::before {
	content: 'Paragraph';
	width: 100%;
	position: absolute;
	top: 0;
	color: #ccc;
	font-weight: 400;
	font-size: 1rem;
}
.write-content .write-preview .paragraph:empty::after {
	content: 'Paragraph';
	width: 100%;
	color: #ccc;
	font-weight: 500;
	position: absolute;
	bottom: 0;
}
.write-content .write-preview .section::before {
	content: 'Section';
	width: 100%;
	position: absolute;
	top: 0;
	color: #ccc;
	font-weight: 400;
	font-size: 1rem;
}
.write-content .write-preview .section:empty::after {
	content: 'Empty Section';
	width: 100%;
	color: #ccc;
	font-weight: 500;
	position: absolute;
	bottom: 0;
}

.write-content .write-preview .image::before {
	content: 'Image';
	position: absolute;
	top: 0;
	color: #ccc;
	font-weight: 400;
	font-size: 1rem;
}

.write-content .write-elements {
	width: 100%;
	background-color: #ccc;
	box-shadow: -10px 0 20px rgb(135, 135, 135);
	position: relative;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	padding-bottom: 2em;
}

.write-content .write-elements::after {
	content: 'Click above buttons to add elements.';
	position: absolute;
	bottom: 0.5em;
}

.write-content .write-elements > div {
	margin: 1em 0;
}

.write-content .write-elements .elements-container {
	width: 95%;
	height: fit-content;
	padding: 0.5em 1em;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	order: 1;
	align-items: center;
	justify-content: center;
}

.write-content .write-elements .elements-container .element {
	width: fit-content;
	height: fit-content;
	padding: 0.5em 1em;
	font-size: 1.25rem;
	background-color: var(--background-color);
	border-radius: 1em;
	-webkit-border-radius: 1em;
	-moz-border-radius: 1em;
	-ms-border-radius: 1em;
	-o-border-radius: 1em;
	margin: 0.25em 0.25em;
	cursor: pointer;
	transition: box-shadow 0.2s linear, color 0.2s linear;
	-webkit-transition: box-shadow 0.2s linear, color 0.2s linear;
	-moz-transition: box-shadow 0.2s linear, color 0.2s linear;
	-ms-transition: box-shadow 0.2s linear, color 0.2s linear;
	-o-transition: box-shadow 0.2s linear, color 0.2s linear;
}

.write-content .write-elements .elements-container .element.disabled {
	display: none;
}

.write-content .write-elements .elements-container :is(.section-element, .ol-element, .ul-element) {
	display: none;
}

.write-content .write-elements .elements-container .element:hover {
	box-shadow: 0 10px 20px rgb(135, 135, 135);
	color: var(--highlight-color);
}

.write-content .write-elements .elements-container .element i {
	padding-right: 0.25em;
}

.write-content .finalize-article-btn-container {
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-end;
	padding: 1em;
}
.write-content .finalize-article-btn-container button {
	padding: 0.5em 1em;
	background-color: #3498db;
	color: #fff;
	font-size: 1.5em;
	border-radius: 1.5em;
	-webkit-border-radius: 1.5em;
	-moz-border-radius: 1.5em;
	-ms-border-radius: 1.5em;
	-o-border-radius: 1.5em;
	border: 3px solid transparent;
	outline: none;
	cursor: pointer;
}
.write-content .finalize-article-btn-container button:disabled {
	color: #fff;
	background-color: transparent;
	border-color: #fff;
	cursor: not-allowed;
}
.write-content .finalize-article-btn-container button i {
	padding-left: 0.5em;
}

.write-content .finalize-article-btn-container button:disabled i {
	display: none;
}

.popup.add-image-to-article {
	display: flex;
	flex-direction: row;
}

.popup.add-image-to-article .img-container {
	width: 70%;
	background-color: rgb(228, 228, 228);
	border: 0.5em solid #ccc;
	position: relative;
	cursor: pointer;
	padding: 1em 2em;
	overflow: hidden;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	transition: border-color 0.2s ease-in-out;
	-webkit-transition: border-color 0.2s ease-in-out;
	-moz-transition: border-color 0.2s ease-in-out;
	-ms-transition: border-color 0.2s ease-in-out;
	-o-transition: border-color 0.2s ease-in-out;
}

.popup.add-image-to-article .img-container img {
	/* width: 100%; */
	max-width: 100%;
	max-height: 100%;
}

.popup.add-image-to-article .img-container:empty:after {
	content: 'Click here to upload images.';
	width: 100%;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	text-align: center;
	font-size: 2rem;
	color: rgb(174, 174, 174);
	transition: color 0.2s ease-in-out;
	-webkit-transition: color 0.2s ease-in-out;
	-moz-transition: color 0.2s ease-in-out;
	-ms-transition: color 0.2s ease-in-out;
	-o-transition: color 0.2s ease-in-out;
}
.popup.add-image-to-article .img-container:hover {
	border-color: rgb(177, 177, 177);
}
.popup.add-image-to-article .img-container:hover::after {
	color: rgb(130, 130, 130);
}

.popup.add-image-to-article .img-settings-container {
	width: 30%;
	background-color: #ccc;
	/* box-shadow: -10px 0 20px rgb(135, 135, 135); */
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	padding: 1.5em 1em;
}
.popup.add-image-to-article .img-settings-container .done-btn {
	width: 95%;
	background-color: #3498db;
	text-align: center;
	padding: 1em 2em;
	color: #fff;
	border-radius: 1.5em;
	-webkit-border-radius: 1.5em;
	-moz-border-radius: 1.5em;
	-ms-border-radius: 1.5em;
	-o-border-radius: 1.5em;
	cursor: pointer;
}

.popup.add-image-to-article .img-settings-container .article-images-form {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
}
.popup.add-image-to-article .img-settings-container .article-images-form input {
	width: 95%;
	height: 3em;
	border: none;
	outline: none;
	padding: 0.25em 1em;
	margin-bottom: 1.5em;
	border-radius: 1.5em;
	-webkit-border-radius: 1.5em;
	-moz-border-radius: 1.5em;
	-ms-border-radius: 1.5em;
	-o-border-radius: 1.5em;
}
.popup.add-image-to-article .img-settings-container .article-images-form input::placeholder {
	color: #ccc;
}

.popup.add-image-to-article
	.img-settings-container
	.article-images-form
	:is(input[type='file'], input[type='submit']) {
	display: none;
}

.popup.add-article-cover-img .add-article-cover-img-container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.popup.add-article-cover-img .add-article-cover-img-container > div {
	font-size: 2rem;
	width: 100%;
	text-align: center;
	padding: 0.5em 0;
	border: 1px solid #ccc;
}

.popup.add-article-cover-img .add-article-cover-img-container > #article-cover-img-form {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	width: 100%;
}
.popup.add-article-cover-img
	.add-article-cover-img-container
	> #article-cover-img-form
	#article-cover-img {
	display: none;
}

.popup.add-article-cover-img .add-article-cover-img-container > #article-cover-img-form label {
	width: 100%;
	height: 60vh;
	border: 5px solid #ccc;
	padding: 2em;
	position: relative;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: border-color 0.2s ease-in-out;
	-webkit-transition: border-color 0.2s ease-in-out;
	-moz-transition: border-color 0.2s ease-in-out;
	-ms-transition: border-color 0.2s ease-in-out;
	-o-transition: border-color 0.2s ease-in-out;
}
.popup.add-article-cover-img
	.add-article-cover-img-container
	> #article-cover-img-form
	label::after {
	content: 'Click the image to change it.';
	position: absolute;
	width: 100%;
	text-align: center;
	color: rgb(160, 160, 160);
	bottom: 0.25em;
	transition: color 0.2s ease-in-out;
	-webkit-transition: color 0.2s ease-in-out;
	-moz-transition: color 0.2s ease-in-out;
	-ms-transition: color 0.2s ease-in-out;
	-o-transition: color 0.2s ease-in-out;
}

.popup.add-article-cover-img
	.add-article-cover-img-container
	> #article-cover-img-form
	label:empty::after {
	content: 'Click here to add a banner image to the article.';
	font-size: 1.75rem;
	color: #ccc;
	top: 50%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	bottom: unset;
}

.popup.add-article-cover-img
	.add-article-cover-img-container
	> #article-cover-img-form
	label:hover {
	border-color: rgb(177, 177, 177);
}

.popup.add-article-cover-img
	.add-article-cover-img-container
	> #article-cover-img-form
	label:hover:empty::after {
	color: rgb(130, 130, 130);
}

.popup.add-article-cover-img .add-article-cover-img-container > #article-cover-img-form label img {
	max-width: 100%;
	max-height: 100%;
}

.popup.add-article-cover-img
	.add-article-cover-img-container
	> #article-cover-img-form
	input[type='submit'] {
	width: 25%;
	font-size: 1.5em;
	padding: 0.5em 1em;
	margin-top: 1em;
	border: 3px solid transparent;
	background-color: #3498db;
	color: #fff;
	border-radius: 1.5em;
	-webkit-border-radius: 1.5em;
	-moz-border-radius: 1.5em;
	-ms-border-radius: 1.5em;
	-o-border-radius: 1.5em;
	cursor: pointer;
}

.popup.add-article-cover-img
	.add-article-cover-img-container
	> #article-cover-img-form
	input[type='submit']:disabled {
	background-color: transparent;
	color: #ccc;
	border-color: #ccc;
	cursor: not-allowed;
}

.popup.finalize-article {
	height: fit-content;
}

.popup.finalize-article .finalize-article-container {
	display: flex;
	flex-direction: row;
	background-color: #ccc;
	margin: 1.5em;
	height: 70vh;
	border-radius: 1em;
	-webkit-border-radius: 1em;
	-moz-border-radius: 1em;
	-ms-border-radius: 1em;
	-o-border-radius: 1em;
	overflow: hidden;
	border: 4px solid #ccc;
}

.popup.finalize-article .finalize-article-container .article-preview {
	width: 70%;
	background-color: var(--background-color);
	padding: 1em;
	overflow: auto;
}
.popup.finalize-article .finalize-article-container .article-preview .article-data-container {
	width: 100%;
	height: unset;
}
.popup.finalize-article
	.finalize-article-container
	.article-preview
	.article-data-container
	.article-img-and-heading-container {
	height: 50%;
}

.popup.finalize-article .finalize-article-container #finalize-article-form {
	width: 30%;
	padding: 0.5em 1em;
	display: flex;
	flex-direction: column;
	align-items: center;
	order: 0;
	box-shadow: -10px 0 20px 0 rgb(130, 130, 130);
	position: relative;
}

.popup.finalize-article .finalize-article-container #finalize-article-form :is(input, textarea) {
	width: 100%;
	height: 3em;
	padding: 0.5em 1em;
	margin-bottom: 0.75em;
	position: relative;
	border-radius: 2em;
	-webkit-border-radius: 2em;
	-moz-border-radius: 2em;
	-ms-border-radius: 2em;
	-o-border-radius: 2em;
	border: none;
	outline: none;
}
.popup.finalize-article
	.finalize-article-container
	#finalize-article-form
	:is(input, textarea)::placeholder {
	color: rgb(165, 165, 165);
}
.popup.finalize-article .finalize-article-container #finalize-article-form textarea {
	height: fit-content;
	min-height: 5em;
	border-radius: 1em;
	-webkit-border-radius: 1em;
	-moz-border-radius: 1em;
	-ms-border-radius: 1em;
	-o-border-radius: 1em;
	resize: none;
}

.popup.finalize-article .finalize-article-container #finalize-article-form .save-btn {
	width: 90%;
	font-size: 1.25em;
	padding: 0;
	border-radius: 1.5em;
	position: absolute;
	bottom: 0;
	-webkit-border-radius: 1.5em;
	-moz-border-radius: 1.5em;
	-ms-border-radius: 1.5em;
	-o-border-radius: 1.5em;
	cursor: pointer;
	background-color: #3498db;
	color: #fff;
}

.popup.article-added {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
}

.popup.article-added .success-heading {
	font-size: 2.5em;
	padding: 0.5em 0;
}

.popup.article-added .success-img {
	max-width: 100%;
	width: 15%;
	margin: 1em 0;
}

.popup.article-added .success-description {
	margin: 1em 0;
	font-size: 1.25em;
}

.popup.article-added .go-to-my-article-btn {
	padding: 0.75em 2em;
	font-size: 1.5em;
	background-color: #3498db;
	color: #fff;
	outline: none;
	margin-top: 1em;
	border: 3px solid transparent;
	border-radius: 1.75em;
	-webkit-border-radius: 1.75em;
	-moz-border-radius: 1.75em;
	-ms-border-radius: 1.75em;
	-o-border-radius: 1.75em;
	cursor: pointer;
	box-shadow: none;
	transition: box-shadow 0.2s linear;
	-webkit-transition: box-shadow 0.2s linear;
	-moz-transition: box-shadow 0.2s linear;
	-ms-transition: box-shadow 0.2s linear;
	-o-transition: box-shadow 0.2s linear;
}

.popup.article-added .go-to-my-article-btn:hover {
	box-shadow: 3px 32px 84px 16px rgba(0, 0, 0, 0.39);
	-webkit-box-shadow: 3px 32px 84px 16px rgba(0, 0, 0, 0.39);
	-moz-box-shadow: 3px 32px 84px 16px rgba(0, 0, 0, 0.39);
}
