.nav-bar .link-list ul li:nth-child(3) a {
	color: var(--highlight-color);
}

.nav-bar .link-list ul li:nth-child(3) a::after {
	transform: translateX(-50%) scaleX(0.3);
}

.banner {
	align-items: center;
	justify-content: center;
}

.banner-img {
	background-image: url('/images/banners/banner21.jpg') !important;
}

.banner-elements-container {
	position: relative;
	z-index: 1;
	display: flex;
	justify-content: center;
	align-items: center;
}

.banner-text {
	text-align: center;
	font-size: 5rem;
	position: relative;
	left: 0;
	width: fit-content;
}

.banner-text span a {
	color: var(--highlight-color);
	text-decoration: none;
	border-bottom: 2px solid var(--highlight-color);
}
.banner-text span h6 {
	font-size: 1rem;
	font-weight: 400;
}
